h1 {
  text-align: center;
}

table {
  width: 100%; 
  border-collapse: collapse;
  /* border: 1px solid #496169; */
}

th,
td {
  /* border-left: 1px solid #496169;  */
  padding: 10px; 
}

th:nth-child(1), td:nth-child(1),
th:nth-child(2), td:nth-child(2),
th:nth-child(3), td:nth-child(3),
th:nth-child(5), td:nth-child(5),
th:nth-child(6), td:nth-child(6),
th:nth-child(7), td:nth-child(7),
th:nth-child(8), td:nth-child(8) {
  text-align: center;
}